PUERTOBACKEND=5000
PUERTOFRONTEND=5173
URLBASEBACKEND=http://localhost:5000
URLBASEFRONTEND=http://localhost:5173
RUTAAPI=/api
RUTAALBUMES=/albumes
RUTARESERVAS=/reservas
JWTSECRETO=cambia-este-secreto-en-produccion
JWTHORAS=8
DBHOST=localhost
DBPUERTO=5436
DBDIALECTO=postgresql
DBUSUARIO=discos
DBCLAVE=123456
DBNOMBRE=discosmusicales
