PUERTOBACKEND=5000
PUERTOFRONTEND=5173
URLBASEBACKEND=http://localhost:5000
URLBASEFRONTEND=http://localhost:5173
RUTAAPI=/api
RUTAALBUMES=/albumes
DBHOST=localhost
DBPUERTO=5432
DBDIALECTO=postgresql
DBUSUARIO=postgres
DBCLAVE=tuClave
DBNOMBRE=discosmusicales
